.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

/* fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

